/*component container*/
.contacto{
    min-height: 100svh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 3rem;
    background-image: url("/servicios-bg.webp");
    background-position: center;
    background-size: cover;
    padding: 3rem 5rem;
}

/*main container*/
.contact-main{
    width: 100%;
    display: flex; 
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

/*form*/
form{
    padding-top: 5.5rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form label{
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-grey);
    padding-top: 1rem;
}

form input{
    font-family: var(--font-text);
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-white);
    background: rgb(150, 150, 150, 0.3);
    border: none;
    padding: 0.9rem;
}

form input::placeholder{
    font-size: 1rem;
    color: var(--color-white);
}

form textarea{
    max-width: 600px;
    min-width: 600px;
    max-height: 200px;
    min-height: 200px;
    background: rgb(150, 150, 150, 0.3);
    border: none;
    padding: 0.7rem;
    font-family: var(--font-text);
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);
}

form textarea::placeholder{
    font-family: var(--font-text);
    color: var(--color-white);
    font-size: 1rem;
}

form button{
    padding-top: 1rem;
    align-self: flex-end;
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    border-bottom: 2px solid var(--color-white);
    color: var(--color-white);
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

/*arrow*/
form button img{
    width: 12px;
    height: auto;
}

/*title, text and icons container*/
.contact-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*title*/
.contact-content h2{
    font-family: var(--font-title);
    font-size: clamp(2.5rem, 1.5495rem + 1.9802vw, 4rem);
    font-weight: 400;
    color: var(--color-white);
}

/*text*/
.contact-content p{
    max-width: 540px;
    font-family: var(--font-text);
    font-size: clamp(1rem, 0.8099rem + 0.396vw, 1.3rem);
    font-weight: 500;
    color: var(--color-white);
    margin-top: 2rem;
}

/*icons container*/
.contact-content_icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

/*icons*/
.contact-content_icons .icon{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.icon img{
    width: 48px;
    height: auto;
}

.icon h4{
    font-family: var(--font-title);
    color: var(--color-grey);
    font-size: clamp(0.9rem, 0.7733rem + 0.264vw, 1.1rem);
    font-weight: 500;
}

.icon p{
    margin: 0;
    font-size: clamp(0.8rem, 0.6733rem + 0.264vw, 1rem);
}

/*map container*/
.contact-map{
    width: 100%;
    height: 500px;
}

/*map*/
.contact-map iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}

/*diseño adaptable*/

/*DESTOCKS*/
@media only screen and (max-width:1440px){

    .contacto{
        padding: 3rem 4rem;
    }
}

/*NOTEBOOKS*/
@media only screen and (max-width:1150px){

    .contacto{
        padding: 3rem;
    }

    .contact-main{
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }

}

/*TABLETS*/
@media only screen and (max-width:768px){

    .contacto{
        padding: 3rem 1rem;
    }

    /*form*/
    form{
        padding-top: 3rem;
        width: 430px;
    }

    form textarea{
        max-width: 430px;
        min-width: 430px;
        width: 430px;
    }

    .contact-content h2{
        padding-top: 2rem;
    }

    /*text*/
    .contact-content p{
        max-width: 430px;
    }

    /*map container*/
    .contact-map{
        width: 100%;
        height: 400px;
    }
}

/*SMARTH PHONES*/
@media only screen and (max-width:480px){


    .contact-content h2{
        font-size: 2.4rem;
    }

    /*text*/
    .contact-content p{
        max-width: 90%;
    }

    /*form*/
    form{
        padding-top: 3rem;
        width: 330px;
    }

    form textarea{
        max-width: 330px;
        min-width: 330px;
        width: 330px;
    }

    /*map container*/
    .contact-map{
        width: 100%;
        height: 300px;
    }
}
