.proyectos{
    min-height: 100svh;
    width: 100%;
    background-image: url("/proyectos-bg.webp");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 3rem;
}

.proyectos .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.proyectos .title h2{
    font-family: var(--font-title);
    font-size: clamp(2.5rem, 1.5495rem + 1.9802vw, 4rem);
    font-weight: 400;
    color: var(--color-white);
    padding-bottom: 3rem;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}


.box-proyectos{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .box-proyectos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .capa{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(34, 34, 34, 0.7);
    transition: all 0.7s ease-in;
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }
  
  .box-proyectos:hover > .capa{
    opacity: 1;
    visibility: visible;
  }

  .capa-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .capa-content h3{
    font-family: var(--font-text);
    font-size: clamp(1.2rem, 1.0099rem + 0.396vw, 1.5rem);
    font-weight: 600;
    color: var(--color-white);
    padding-top: 1rem;
}

  .capa-content p{
    max-width: 380px;
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--color-white);
    transition: all 0.7s ease-in-out;
  }


  /*diseño adaptable*/

/*DESTOCKS*/
@media only screen and (max-width:1440px){
  
  .capa-content p{
    max-width: 300px;
  }
}

/*NOTEBOOKS*/
@media only screen and (max-width:1150px){

  .grid-container{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .box-proyectos:last-child{
    display: none;
  }

}

/*TABLETS*/
@media only screen and (max-width:768px){
    
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .proyectos .title h2{
    padding-top: 2rem;
  }
}
