/*component container*/
.servicios{
    min-height: 100svh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("/servicios-bg.webp");
    background-size: cover;
    background-position: center;
    gap: 1.5rem;
    padding: 3rem 5rem;
    color: var(--color-white);
}

/*content container*/
.servicios section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*title container*/
.servicios .title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0;
    padding-bottom: 2rem;

}

/*title*/
.servicios .title h2{
    font-family: var(--font-title);
    font-size: clamp(2.5rem, 1.5495rem + 1.9802vw, 4rem);
    line-height: 37px;
    font-weight: 400;
}

/*subtitle*/
.servicios .title p{
    font-family: var(--font-text);
    font-size: clamp(1.2rem, 0.6667rem + 0.5926vw, 1.4rem);
    font-weight: 500;
    color: var(--color-grey);
}

.servicios .title p br{
  display: none;
}

/*services container*/
.servicios .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.content .item:last-child{
  border-bottom: 2px solid var(--color-white);
  padding-bottom: 1rem;
}

/*name services and plus button container*/
.service-name{
    min-width: 750px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--color-white);
}

/*plus button*/ 
.wrapper {
  --width: 90px;
  --height: 90px;
  width: var(--width);
  height: var(--height);
  position: relative;
}
.wrapper .btn {
  width: var(--width);
  height: var(--height);
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: plus-animation-reverse 0.5s ease-out forwards;
  animation: plus-animation-reverse 0.5s ease-out forwards;
}
.wrapper .btn::before,
.wrapper .btn::after {
  content: "";
  display: block;
  position: absolute;
  background: var(--color-grey);
}
.wrapper .btn::before {
  width: 4px;
  height: 28px;
}
.wrapper .btn::after {
  width: 28px;
  height: 4px;
}

.wrapper input {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 5;
  opacity: 0;
}

.wrapper input:checked ~ .btn {
  -webkit-animation: plus-animation 0.5s ease-out forwards;
  animation: plus-animation 0.5s ease-out forwards;
}


@-webkit-keyframes pang-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes pang-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@-webkit-keyframes plus-animation {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(0.93);
  }
  55% {
    transform: rotate(35deg) scale(0.97);
  }
  80% {
    transform: rotate(48deg) scale(0.94);
  }
  100% {
    transform: rotate(45deg) scale(0.95);
  }
}
@keyframes plus-animation {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(0.93);
  }
  55% {
    transform: rotate(35deg) scale(0.97);
  }
  80% {
    transform: rotate(48deg) scale(0.94);
  }
  100% {
    transform: rotate(45deg) scale(0.95);
  }
}
@-webkit-keyframes plus-animation-reverse {
  0% {
    transform: rotate(45deg) scale(0.95);
  }
  20% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@keyframes plus-animation-reverse {
  0% {
    transform: rotate(45deg) scale(0.95);
  }
  20% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@-webkit-keyframes stretch-animation {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes stretch-animation {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

/*nombre del servicio*/
.service-name h3{
  font-family: var(--font-text);
  font-size: clamp(1.2rem, 0.4rem + 0.8889vw, 1.5rem);
  font-weight: 500;
  justify-self: flex-start;
}

/*descripción*/
.content p{
    font-family: var(--font-text);
    font-size: clamp(1rem, 0.4667rem + 0.5926vw, 1.2rem);
    font-weight: 500;
    color: var(--color-grey);
    max-width: 600px;
}

/*image container*/
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container{
    max-width: 600px;
    height: auto;
}

/*image*/
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*diseño adaptable*/

/*DESTOCKS*/
@media only screen and (max-width:1440px){

  .servicios{
    padding: 3rem 4rem;
  }

  /*subtitle*/
  .servicios .title p{
    font-size: 1.1rem;
    font-weight: 600;
  }

  /*image container*/
  aside{
    justify-content: center;
    align-items: flex-end;
    padding-top: 0;
  }

  .service-name{
    min-width: 610px;
  }
}

/*NOTEBOOKS*/
@media only screen and (max-width:1150px){

  .servicios{
    min-height: auto;
    width: 100%;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding: 3rem;
  }
  
  aside{
    display: none;
  }
  .service-name{
    width: 650px;
  }
}

/*TABLETS*/
@media only screen and (max-width:768px){

  .servicios{
    padding: 3rem 1rem;
  }
  /*title*/
  .servicios .title h2{
    font-size: 2.5rem;
    line-height: 27px;
  }

  /*subtitle*/
  .servicios .title p{
    font-size: clamp(0.9rem, 0.7333rem + 0.5556vw, 1rem);
    font-weight: 600;
  }

  .service-name h3{
    font-size: clamp(0.9rem, 0.5667rem + 1.1111vw, 1.1rem);
    font-weight: 600;
  }
  
  .content{
    width: 100%;
  }

  .content p{
      font-size: 1rem;
      font-weight: 500;
      color: var(--color-grey);
      max-width: 90vw;
  }

  .service-name{
    min-width: auto;
    max-width: 768px;
    width: 90vw;
  }

}

/*SMARTH PHONES*/
@media only screen and (max-width:480px){

  .servicios .title h2{
     font-size: 2.4rem; 
  }
  
  .servicios .title p br{
    display: flex;
  }
}
